* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	color: #fff;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.reel {
	color: #fff;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.text {
	flex-direction: column;
	justify-content: flex-end;
	display: flex;
}

.text :first-child {
	margin-bottom: 5px;
}

.text :last-child {
	margin-right: 70px;
	margin-bottom: 0;
}

.black-bar {
	height: 70px;
	background-color: black;
	padding: auto;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	align-items: stretch;
	justify-content: space-between;
	display: flex;
	flex-direction: column;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.sidebar img {
	height: 45px;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */