* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* body */
body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	color: #fff;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

/* header */
.reel-header {
	margin-top: 4px;
	padding: 20px;
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	color: #fff;
}

.reel-header svg {
	height: 30px;
	width: 25px;
}

.reel {
	color: #fff;
}

.explore {
	display: flex;
	align-items: center;
}

.explore div {
	margin-right: 16px;
}

.explore .new {
	position: relative;
}

.explore .new::after {
	position: absolute;
	top: -8px;
	right: -8px;
	content: '';
	display: block;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #652e61;
}

.explore .current::after {
	content: '';
	display: block;
	height: 3px;
	width: 60%;
	margin: auto;
	margin-top: 4px;
	background-color: #fff;
}

/* footer */
footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
}

.text {
	flex-direction: column;
	justify-content: flex-end;
	display: flex;
}

.text :first-child {
	margin-bottom: 5px;
}

.text :last-child {
	margin-right: 70px;
	margin-bottom: 0;
}

/* sidebar */
.sidebar {
	display: block;
	margin: 0 auto;
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	z-index: 1;
}

.sidebar .boolean {
	position: relative;
}

.sidebar .boolean img {
	width: 50px;
	border-radius: 50%;
}

.sidebar .boolean .plus {
	position: absolute;
	bottom: -10px;
	left: 50%;
	z-index: 1;
	translate: -50% -50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	background-color: #f9314f;
	border-radius: 50%;
}

.sidebar svg {
	display: block;
	margin: 0 auto;
	width: 40px;
	height: 25px;
}

.sidebar .icons {
	margin-top: 40px;
}

.sidebar .number {
	display: block;
	text-align: center;
	margin-top: 4px;
	font-size: 12px;
}

/* black bar */
.black-bar {
	padding-right: 10px;
	padding-left: 10px;
	height: 70px;
	color: #fff;
	background-color: black;
	padding: auto;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	flex: 1 0 0;
}

.black-bar svg {
	display: block;
	margin: 0 auto;
	height: 30px;
	width: 25px;
}

.black-bar .import {
	padding: 5px 20px;
	color: black;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: -4px 0 cyan, 4px 0 fuchsia;
}

.black-bar svg:nth-child(4) {
	position: relative;
	height: 25px;
	width: 25px;
}

.black-bar .word {
	font-size: 14px;
}

.black-bar .messages-number {
	position: absolute;
	bottom: -75px;
	left: 70%;
	z-index: 1;
	padding: 2px 6px;
	border-radius: 10px;
	background-color: #f9314f;
	color: #fff;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	translate: -15% -280%;
}